version: '3'

services:
  backend:
    build:
      context: ./back_end
      dockerfile: Dockerfile
      target: dev
    ports:
      - '5001:5001'
    env_file:
      - ./back_end/.env
    environment:
      - DB_PASSWORD=testSomethingNow
      - DB_PORT=3306
      - DB_HOST=database
      - NODE_ENV=development
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=blacklistinhere
      # - REDIS_USER=RootBlackList
    expose:
      - 5001
    container_name: backend_node
    restart: always
    volumes:
      - ./back_end/public:/backend/public
      - ./back_end/src:/backend/src
      - ./back_end/package.json:/backend/package.json
      - ./back_end/package-lock.json:/backend/package-lock.json
    depends_on:
      - database
      - redis

  database:
    image: mysql:8.0
    restart: always
    container_name: mysql_container
    environment:
      - MYSQL_ROOT_PASSWORD=testSomethingNow
      - MYSQL_DATABASE=instagram_development
    ports:
      - '3307:3306'
    volumes:
      - db_data:/var/lib/mysql

  # black list for jwt
  redis:
    image: redis:7.2.4
    container_name: redis_container
    restart: always
    ports:
      - '6379:6379'
      # --loglevel warning
      # --user RootBlackList
    command: redis-server --save 30 1 --requirepass blacklistinhere
    volumes:
      - black_list:/data
volumes:
  db_data:
  black_list:
    driver: local
