::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1e1e24;
}

::-webkit-scrollbar-thumb {
    background: #3f3f40;
    border-radius: 120px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
